*{
	margin: 0;
	padding: 0;
}
@font-face{
	font-family: Nickainley;
	src: url("../Nickainley-Normal.otf");
}
div {
  font-family: Nickainley;
}
.container{
	background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../Bootiful.jpg);
	height: 100vh;
	background-position: center;
	;
}
.navbar ul{
	position:fixed;
	top: 0;
	z-index:1;
	display:flex;
	list-style-type: none;
	float: right;
	margin-top: 10px;
	margin-left: 850px;
}
.navbar ul li{
	display:flex;
	list-style: none;
	justify-content: right;
}
.navbar ul li a{
	margin:0 0.5rem;
	Border-radius: 25px;
	text-decoration: none;
	padding: 10px 40px;
	border: 2px solid #fff;
	color: #fff ;
	transition: 0.2s ease;
}
.navbar ul li a:hover{
	background-color: #fff;
	color: #000;
}
.dash img{
	max-width:100%;
	display:block;
	filter: brightness(0) invert(200%);
	width: 25%;
	height: auto;
	z-index: 1;
}
.center {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:1000px;
  width: 50%;
}
.main{
	width:100%;
	height:100%;
	overflow-y: scroll;
	scroll-behavior:smooth;
	scroll-snap-type: y mandatory;
}
.Luv{
	position: fixed;
	margin: 0 3rem;
	font-size: 3rem;
	color:#fff;
	z-index:1;
}
section{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 100%;
	height: 100vh;
	scroll-snap-align: center;
}
section p{
	font-size:1.5rem;
	color:#fff;
	
}
section#About {
	background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../bootiful2.jpg) no-repeat center center/cover;
}
section#Photos {
	background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../bootiful3.jpg) no-repeat center center/cover;
}
